# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ambiente
.env
.env.*

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build
dist/
build/

*.sqlite
*.sqlite3
